<h1>イベントリスト</h1>

<table id="event_list">
  <tr>
    <th class="title">タイトル</th>
    <th class="start_time">日時</th>
    <th class="place">場所</th>
    <th class="budget">予算</th>
    <th class="context">説明</th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td class="title"><%= event.title %></td>
    <td class="start_time"><%= if event.start_time then event.start_time.strftime("%Y-%m-%d %H:%M") end %></td>
    <td class="place"><%= event.place %></td>
    <td class="budget"><%= event.budget.blank? ? '未定' : event.budget.to_s+'円' %></td>
    <td class="context"><%= event.context %></td>
    <td><%= link_to 'もっと見る', event %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'イベント新規作成', new_event_path %>
