<p id="notice"><%= notice %></p>
<% if @is_own || (@invitation && @invitation.editable) %>
<%= link_to 'イベントを編集', edit_event_path(@event) %>
<% end %>
<% if @is_own %>
<%= link_to 'イベントを消去', @event, method: :delete, data: { confirm: 'イベントを削除します。よろしいですか？' } %>
<% end %>
<dl>
  <dt>タイトル</dt>
  <dd><%= auto_link(@event.title, :html => { :target => "_blank" }) %></dd>
  <dt>日時</dt>
  <dd><%= if @event.start_time then @event.start_time.strftime("%Y-%m-%d %H:%M") end %></dd>
  <dt>場所</dt>
  <dd><%= auto_link(@event.place, :html => { :target => "_blank" }) %></dd>
  <dt>予算</dt>
  <dd><%= @event.budget.blank? ? '未定' : @event.budget.to_s+'円' %></dd>
  <dt>申込期限</dt>
  <dd><%= if @event.reply_delivery then @event.reply_delivery.strftime("%Y-%m-%d %H:%M") end %></dd>
  <dt>説明</dt>
  <dd class="context"><%= @event.context.blank? ? "説明はありません" : auto_link(@event.context, :html => { :target => "_blank" }) %></dd>
  <dt>公開範囲</dt>
  <dd><%= @event.public == 'public' ? '全体' : 'メンバーのみ'  %></dd>
</dl>
<div>
  <table>
    <tr>
      <th class="name">氏名</th>
      <th class="intention">出欠</th>
      <th></th>
      <% if @is_own %>
      <th></th>
      <% end %>
    </tr>
    <% total = 0 %>
    <% @invitations.each do |invitation| %>
    <tr>
      <td class="name"><%= invitation.user.name ? invitation.user.name : invitation.user.account %></td>
      <% 
  intention = if invitation.intention == 'attendance' then '◯'
              elsif invitation.intention == 'pending' then '△'
              else '×'
              end
      %>
      <% if invitation.intention == 'attendance' then total = total + 1 end %>
      <td class="intention"><%= intention %></td>
      <td>
      <% if @is_own || @user.id == invitation.user.id %>
      <%= link_to '編集', :controller => 'invitations', :action=>'edit', :id => invitation.id, :event_id => @event.id %>
      <% end %>
      </td>
      <% if @is_own %>
      <td><%= link_to 'リストから削除', {:controller => 'invitations', :action=>'destroy', :id => invitation.id, :event_id => @event.id}, method: :delete, data: { confirm: '削除します。よろしいですか？' } %></td>
      <% end %>
    </tr>
    <% end %>
    <tr>
      <td>参加</td>
      <td><%= total %>人</td>
    </tr>
  </table>
<% if @is_own %>
<%= link_to '新メンバーを招待', :controller => 'invitations', :action=>'new', :event_id => @event.id %>
<% end %>
</div>
<div>
  <p>コメント</p>
  <% if @comments.length == 0 %>
  <p>ありません</p>
  <% else %>
  <ul id="comments">
  <% @comments.each do |comment| %>
    <li class="comment">
      <p class="info">
        <span><%= comment.user.name ? comment.user.name : comment.user.account %></span>
        <span><%= comment.created_at.strftime("%Y-%m-%d %H:%M") %></span>
        <% if @is_own || comment.user.id == @user.id %>
        <%= link_to '編集', edit_event_comment_path(@event.id, comment) %>
        <%= link_to '削除', {:controller => 'comments', :action=>'destroy', :id => comment.id, :event_id => @event.id}, method: :delete, data: { confirm: '削除します。よろしいですか？' } %>
        <% end %>
      </p>
      <p class="body"><%= auto_link(comment.content, :html => { :target => "_blank" }) %></p>
    </li>
  <% end %>
  </ul>
  <% end %>
  <%= form_for(@comment, :url => {:controller => 'comments', :action => 'create', :event_id => @event.id}) do |f| %>
    <% if @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

        <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label '新規コメント' %><br />
      <%= f.text_area :content, :placeholder => '新規コメントを入力' %>
    </div>
    <div class="actions">
      <%= f.submit 'コメント追加' %>
    </div>
  <% end %>
</div>
