<h1>出席を編集</h1>

<%= form_for(@invitation, :url => {:action => 'update'}) do |f| %>
  <% if @invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

      <ul>
      <% @invitation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>出席: <%= radio_button 'invitation', 'intention', 'attendance', {:checked => true} %></p>
  <p>欠席: <%= radio_button 'invitation', 'intention', 'absence', {} %></p>
  <p>未定: <%= radio_button 'invitation', 'intention', 'pending', {} %></p>
  <div class="actions">
    <%= f.submit '更新' %>
  </div>
<% end %>
