<!DOCTYPE html>
<html>
<head>
  <title>nomoca</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <h1>
      <%= link_to 'Top', root_path  %>
      <ul class="menu">
      <% if session[:login] %>
      <% user = session[:login]%>
        <li><%= link_to (user[:name].blank? ? user[:account] : user[:name]), :controller => 'users', :action => 'show', :id => user[:id] %></li>
        <li><%= link_to 'ログアウト', :controller => 'authentication', :action => 'logout' %></li>
      <% else %>
        <li><%= link_to 'ログイン', :controller => 'authentication', :action => 'index' %></li>
      <% end %>
      </ul>
    </h1>
  </div>
<%= yield %>

</body>
</html>
